%script{type: "text/html", id: "resource_template"}
  - ko_attrs = project_admin? ? {click: 'edit', css: '{ clickable: !editing() }'} : {}
  %tr{ko(ko_attrs)}
    %td
      %span.name{'data-bind' => 'visible: !editing(), text: name'}
      = text_field_tag :name, '', :class => '', 'data-bind' => 'visible: editing, value: name, valueUpdate: "afterkeydown"', :placeholder => 'Enter resource name'
      %span.alert-orange-b{ko(visible: '!is_valid() && !name()')} Missing name
    / ko with: firstResource
    %td{ko(template: '{name: template}')}
    / /ko
    / ko with: secondResource
    %td{ko(template: '{name: template}')}
    / /ko
  %tr{ko(visible: 'editing')}
    %td
      - if project_admin?
        %button.white{ko(click: 'save')} Save
      %a.cancel{ko(click: 'cancel', visible: 'editing'), href: '#'} Cancel
    %td
    %td.text-right
      %button.fdelete{ 'data-bind' => 'click: removeWithConfirm' } Remove this resource
